body {
    background-color: #f5f5f5;
    height: 100%;
}

* {
    box-sizing: border-box;
  }

.main {
    border-radius: 4px;
    width: 50%;
    height: max-content;
    min-height: 800px;
    margin: 0 auto;
    background-color: #fcfcfc;
    margin-top: 30px;
    box-shadow: 0px 2px 2px #ccc;
    
}

.topContent {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    padding: 10px;
}

.box {

    justify-content: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.list {
    width: 70%;
    margin-top: 20px;
    margin: 0 auto;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    

}

tr {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    border-bottom: #ee1aee48 1px solid;
}

td {

    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type:none;
    
}


#todo tr:nth-child(even) {
    background: #e766e711;
}

tr:hover {
    background: #E0C3FC41;
    font-size: 17px;
    box-shadow: 0px 1px 5px #8EC5FC;
}

#todo tr:nth-child(even):hover {
    background: #E0C3FC41;
}

tr td.checked {
    background: linear-gradient(62deg, #8EC5FC 30%, #ffffff00 80%);
    color: #fff;
    text-decoration: line-through;
}

tr td.checked::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  .close:hover {
    background-color: #f44336;
    color: white;
  }


#delete {
    text-align: right;
    text-decoration: none;
}

a {
    text-decoration: none;
}


.addBtn {
    padding: 10px;
    width: 15%;
    background: #8EC5FC;
    color: #000000;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    box-shadow: 0px 0px 2px #00000031;
    border-radius: 4px;
  }

  .inputDo {
    width: 55%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 1px #00000031;

  }

  .inputDo:focus {
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px #00000061;
  }